.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--navy-blue);
    z-index: 2;
    .navbar-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin:auto;
        .navbar-logo{
            font-size: 1.2rem;
            margin: 1rem;
            display: flex;
            align-items: center;
            color: var(--light-green);
            .logo{
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:hover {
                color: var(--dark-green);
            }
        }
    
        .toggle-menu {
            position: absolute;
            top: 0.75rem;
            right: 1rem;
            display: none;
        }
    
        .navbar-links {
            display: flex;
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                li{
                    list-style: none;
                    padding: 1rem;
                    font-size: 1.2rem;
                    display: block;
                    color: var(--light-green);
                    &:hover {
                        color: var(--dark-green);
                    }
                }
            }
        }
    }
}

@media (max-width:960px) {
    .header {
        background-color: var(--navy-blue);
        box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
        .navbar-wrap {
            flex-direction: column;
            align-items: flex-start;
            width: 95%;
            .toggle-menu {
                display: block;
            }
            .navbar-links{
                width: 100%;
                display: none;
                ul {
                    flex-direction: column;
                    width: 100%;
                    li{
                        text-align: center;
                        &:hover {
                            color: skyblue;
                        }
                    }
                }
            }
            .show{
                display: flex;
            }
        }
    }
}