.card-wrap{
    // display: flex;
    .image-wrap{
        background-image: linear-gradient(to right, white, var(--ligth-grey));
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        // padding: 5px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 80px;
            width: 80px;
        }
    }
    .name-wrap {
        background-image: linear-gradient(to right, var(--sky-blue), var(--dark-sky-blue));
        display: flex;
        // justify-content: center;
        align-items: center;
        padding: 0 50px;
        border-radius: 40px;
    }

}