.profile-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
    .content-wrap{
        color: var(--light-green);
        text-align: center;
        .title{
            font-size: 48px;
            margin-bottom: 25px;
        }
        .details{
            display: flex;
            .flip-card{
                background-color: transparent;
                min-width: 300px;
                max-width: 300px;
                height: 300px;
                perspective: 1000px;
                margin-right: 50px;
                cursor: pointer;
                .flip-card-inner{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    border-radius: 50%;
                    border: solid 3px var(--light-green);
                    .front{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                        border-radius: 50%;
                        // z-index: 2;
                    }
                    .back{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        // z-index: 1;
                        border-radius: 50%;
                        img{
                            border-radius: 50%;
                        }
                    }
                }
                &:hover {
                    .flip-card-inner{
                        transform: rotateY(180deg);
                    }
                }
                &:focus {
                    outline: 0;
                    .flip-card-inner{
                        transform: rotateY(180deg);
                    }
                }
            }
            .paragraph{
                font-size: 24px;
                text-align: left;

                p{
                    margin-bottom: 50px;
                }

                .anchor{
                    padding: 10px 25px;
                    border: var(--light-green) 1px solid;
                    border-radius: 99px;
                    font-size: 20px;
                    &:hover{
                        border: none;
                        background: var(--light-green);
                        color: var(--navy-blue);
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .profile-wrap{
        padding: 0 50px;
        padding-top: 10px;
        .content-wrap{
            .title{
                font-size: 24px;
            }
            .details{
                flex-direction: column;
                align-items: center;
                .flip-card{
                    height: 150px;
                    min-width: 150px;
                    max-width: 150px;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                .paragraph{
                    font-size: 18px;
                    .anchor{
                        font-size: 16px;
                    }
                }
            }
        }
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }