.wrap{
    width: 80%;
    margin:auto;
    padding: 54px;
    border-bottom: #800517 1px solid;
    .title {
        text-align: center;
        margin-bottom: 2rem;
    }
    .cardWrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-rows: auto;
        .card{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            justify-content: center;
            align-items: center;
        }
    }
}