.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    border-top: var(--light-green) 1px solid;
    padding: 20px 100px;
    text-align: center;
    margin-top: 30px;
    color: var(--light-green);
    .source{
        p {
            letter-spacing: 1px;
            font-size: 20px;
            a:hover {
                color: var(--dark-green);
            }
        }
    }
    .contact{
        justify-content: center;
        text-align: center;
        display: flex;
        p{
            padding: 0 30px;
        }
        .social-media{
            img{
                width: 30px;
                height: 30px;
                position: relative;
                top: 0;
                transition: top ease 0.2s;
                &:hover{
                    top: -3px;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .footer-wrap{
        flex-direction: column-reverse;
    }
}

@media (max-width: 700px) {
    .footer-wrap{
        padding: 20px 20px;
        .source{
            p {
                font-size: 18px;
            }
        }
        .contact{
            display: flex;
            flex-flow: row wrap;
            p{
                font-size: 18px;
            }
            .phone{
                order: 1;
            }
            .email{
                order: 2;
            }
            .social-media{
                order: 3;
                width: 100%;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}