.projectWrap{
    width: 80%;
    margin:auto;
    padding-bottom: 54px;
    border-bottom: #800517 1px solid;
    .title {
        text-align: center;
        margin-bottom: 2rem;
    }
    .cardWrap{
       .card {
        padding: 20px 16px 40px 16px;
        background: #fff;
        margin: 20px 10px;
        border-left: 8px solid #fff;
       }
    }
}