:root{
  --sky-blue: #99c8dc;
  --dark-sky-blue : #6fa6bd;
  --light-grey: #efefef;
  --brown: #988879;
}

html {
  scroll-snap-type: y;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: linear-gradient(90deg, var(--dark-sky-blue) 37%, var(--light-grey) 37%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}