html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #fffbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primary-color {
  color: #fff
}

.secondary-color {
  color : #800517
}

.Heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.HeadingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.HeadingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.button {
  background-color: #fffbfb;
  color: #800517;
  padding: 0.8rem;
  border: #800517 1px solid;
  border-radius: 5px;
  margin-right: 15px;
}
.button:hover {
  background-color: #800517;
  color: #fffbfb;
}